body {
    background-color: #0D0D0D;
    color: #fff;
    font-size: 1em;
}

:root {
    --c: #01FCDB;
    padding: 20px;
    border-radius: 30px;
    border: 30px solid #01FCDB;
}

#b1 {
    padding: 20px 30px 30px;
    background-color: var(--c);
    width: 300px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 28px;
    border-radius: 5px;
    color: #000;
    font-size: 1.2em;
    font-weight: 900;
    
}

#b1 a {
    
}

h1 {
    color: var(--c);
}

#p3 {
    display: flex;
    flex-flow: column nowrap;
    grid-gap: 2em;
    position: absolute;
    bottom: 0;
    margin-bottom: 50px;
}

#p3 h1 {
    margin: 0;
}

#p3 a {
    color: #fff;
    font-size: 2.3em;
    
    
}

#p1 {
    margin: 100px 0;
    text-align: center;
    
}

#p1 a {
    background-color: var(--c);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    position: relative;
    top: 20px;
    display: block;
    width: 200px;
    margin: auto;
}

#p2 {
    margin: 70px 0;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    position: relative;
    top: 40px;
    margin: auto;
}